@use '../util' as u;

@keyframes icon-bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(u.rem(-5));
  }
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}