:root {
  --background-color: hsl(0, 0%, 11%);
  --text-color: hsl(0, 0%, 100%);
}

$darkblue: rgb(33, 31, 46);
$lightblue: rgb(98, 198, 188);
$orange: rgb(255, 120, 71);
$medium-black: rgb(36, 36, 46);
$lightgray: rgb(229, 229 ,229);
